<button (click)="showEditAlbumForm()" *ngIf="editAlbumButton">Edit this Album</button>


<div *ngIf="editAlbumForm">
  <h4>Edit Album</h4>
  <label>New Album Title:</label>
  <input [(ngModel)]="selectedAlbum.title">
  <br>

  <label>New Album Artist:</label>
  <input [(ngModel)]="selectedAlbum.artist">
  <br>

  <label>New Album Price:</label>
  <input [(ngModel)]="selectedAlbum.price">
  <br>

  <label>New Album Description:</label>
  <input [(ngModel)]="selectedAlbum.description">
  <br>

  <button (click)="beginUpdatingAlbum(selectedAlbum)" (click)="hideEditAlbumForm()">Update</button>
  <hr>
  <button (click)="beginDeletingAlbum(selectedAlbum)">Delete</button>
</div>
