<h2>Merchandise</h2>

<select (change)="onPriceFilterChange($event.target.value)">
    <option value="all" selected>View All Categories</option>
    <option value="cheap">$</option>
    <option value="expensive">$$</option>
</select>

<div *ngFor="let merchandise of merch | async | price:filterByPrice"  class="panel panel-default">
  <div class="panel-body clickable">
    <h3 (click)="goToDetailPage(merchandise)"><em>{{merchandise.item}}</em> ($){{merchandise.price}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      {{merchandise.description}}
      <hr>
      <app-edit-merch [selectedMerch]="merchandise"></app-edit-merch>
    </div>
    <div *ngIf="currentRoute === '/marketplace'">
      <hr>
      <button>Add To Cart</button>
    </div>
  </div>
</div>
